interview-header {
  background-color: #f2f4f6; 
  border-bottom: 2px solid #f2c200; 
  padding: 20px 30px;       
}

.interview-header h1 {
  font-size: 30px;            
  font-weight: 800;           
  
}

.interview-header p {
  font-size: 20px;
}

html { scroll-behavior: smooth; }

.profile-header {
    background-color: #f2f4f6; 
  border-bottom: 2px solid #f2c200;
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.profile h1 {
  font-size: 30px;
 

.profile p {
  line-height: 1.8;
}

